<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Baza Danych</title>
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>
        <div class="container-fluid text-center">
            <h1>Teleadresowa Baza danych</h1>
            <div>Jeżeli widzisz ten ekran to znaczy że kontener został uruchomiony poprawnie a aplikacja działa prawidłowo <br>
            Kliknij poniższy link</div>
            <a  class="h2" th:href="@{/personalDetails}">Manage Personal Details</a>
        </div>
    </body>
</html>